<div class="jumbotron text-center">
  <h1>Farm To Home</h1>
  <p>Your community market every day</p>
</div>

<nav class="navbar navbar-expand-sm navbar-custom navbar-light sticky-top">
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/registerProduct">Register Product</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Find Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/basket">My Basket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/displayAdmins">View Admins</a>
    </li>
    
    <li>
      <div *ngIf="this.loginSvc.isLogedIn">
    <li class="nav-item">
      <a class="nav-link" (click)="this.logout()">Logout</a>
    </li>
    <li>
    </div>
    <li>
      



    </li>

    
    <div  class="dropdown" >
        <!-- Add an additional button , to-->
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login/Register
          </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/loginCustomer">Login/Register Customer</a>
            <a class="dropdown-item" routerLink="/loginFarmer">Login/Register Farmer</a>
        </div>
        </div>
        <div *ngIf="this.loginSvc.isLogedIn">
            <li class="nav-item">
              <a class="nav-link" (click)="this.logout()">Logout</a>
            
            </div>

  </ul>
</nav>
<!-- <table>
  <td>
*ngIf="isLogedIn" ><button (click)="isLogedIn()">Logout</button>
</table> -->

<div class="container parent-container">
  <div class="row main-container">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>