<div class="jumbotron text-center">
  <h1>Farm To Home</h1>
  <p>Your community market every day</p>
</div>

<nav class="navbar navbar-expand-sm navbar-custom navbar-light sticky-top">
  <ul class="navbar-nav">

    <!-- Search produts page -->
    <li
      class="nav-item"
      *ngIf="loginSvc.isLogedIn === false || this.loginSvc.isCustomer()"
    >
      <a class="nav-link" routerLink="/products">Products</a>
    </li>

    <!-- Edit Basket page -->
    <li
      class="nav-item"
      *ngIf="loginSvc.isLogedIn === false || this.loginSvc.isCustomer()"
    >
      <a class="nav-link" routerLink="/basket">My Basket</a>
    </li>

    <!-- Farmer Manage produts page -->
    <li class="nav-item" *ngIf="this.loginSvc.isFarmer()">
      <a class="nav-link" routerLink="/editFarmer">Manage Produts</a>
    </li>

    <!-- Farmer Register produt page -->
    <li class="nav-item" *ngIf="this.loginSvc.isFarmer()">
      <a class="nav-link" routerLink="/registerProduct">Register Product</a>
    </li>

    <!-- Farmer Register produt page -->
    <li class="nav-item" *ngIf="this.loginSvc.isAdmin()">
      <a class="nav-link" routerLink="/adminhome">Home</a>
    </li>
  </ul>

  <!-- Login functions -->
  <ul class="navbar-nav ml-auto">
    <li>
      <div class="nav-item dropdown" *ngIf="!this.loginSvc.isLogedIn">
        <!-- Add an additional button , to-->
        <button
          class="nav-link btn dropdown-toggle nav-button"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Login/Register
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" routerLink="/loginCustomer"
            >Login/Register Customer</a
          >
          <a class="dropdown-item" routerLink="/loginFarmer"
            >Login/Register Farmer</a
          >
        </div>
      </div>
    </li>

    <li>
      <div *ngIf="this.loginSvc.isLogedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="this.logout()">Logout</a>
        </li>
      </div>
    </li>
  </ul>
</nav>
<!-- <table>
  <td>
*ngIf="isLogedIn" ><button (click)="isLogedIn()">Logout</button>
</table> -->

<div class="container parent-container">
  <div class="row main-container">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
