<div class="jumbotron text-center">
  <h1>Farm To Home</h1>
  <p>Your community market every day</p>
</div>

<nav class="navbar navbar-expand-sm navbar-custom navbar-light sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/loginDashBoard">Login Dashboard</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/registerCustomer">Register Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/registerFarmer">Register Farmer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/registerAdmin">Register Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/registerProduct">Register Product</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Find Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/basket">My Basket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/displayAdmins">View Admins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/displayAdmins">View Admins</a>
    </li>
    <li>
      <div *ngIf="this.loginSvc.isLogedIn">
    <li class="nav-item">
      <a class="nav-link" (click)="this.logout()">Logout</a>
    </li>
    <li>
    </div>



    </li>

  </ul>
</nav>
<!-- <table>
  <td>
*ngIf="isLogedIn" ><button (click)="isLogedIn()">Logout</button>
</table> -->

<div class="container parent-container">
  <div class="row main-container">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>