<p>display-admin-products works!</p>
<p>Manage Orders</p>

<table class="table">
        <input type="text" [(ngModel)]="term2" placeholder="Search Farmer" />
      <tr>
        <th>Order Id</th>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
        <th>Customer Adress</th>
      </tr>
      <tr 
        *ngFor="
          let a of allOrders
            | filter: term2
            | paginate: { itemsPerPage: 10, currentPage: p_no };
          let i = index
        "
      >
        <td>{{ a.orderId }} </td>
        <!-- <td>{{ a.farmerEmail}}</td>
        <td>{{ a.farmerLocation}}</td>
        <td>{{ a.farmerName}}</td> -->
        <!-- <td><button (click)="deleteFarmer(a.farmerId)">Delete</button></td> -->
      </tr>
    <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
  </table>
