<br>
<h4>Manage Orders</h4>
<br>
<table class="table">
        <input class="form-control" type="text" [(ngModel)]="term" placeholder="Search Order" />
      <tr>
        <th>Order Id</th>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
        <th>Customer Address</th>
      </tr>
      <tr
        *ngFor="
          let a of allOrders
            | filter: term
            | paginate: { itemsPerPage: 10, currentPage: p_no };
          let i = index
        "
      >
        <td>{{a.orderId}} </td>
        <td>{{a.currentCustomer.customerId}}</td>
        <td>{{ a.currentCustomer.customerName}}</td>
        <td>{{ a.currentCustomer.customerEmail}}</td>
        <td>{{ a.currentCustomer.customerAddress}}</td>
        <td><button class="btn btn-primary" (click)="deleteOrder(a.orderId)">Delete</button></td>
      </tr>
   <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
  </table>

  <br>
<h4>Manage Order Items</h4>
<br>
<table class="table">
        <input class="form-control" type="text" [(ngModel)]="term2" placeholder="Search Order Items" />
      <tr>
        <th>Order Item Id</th>
        <th>Order Id</th>
        <th>Customer Id</th>
        <th>Customer Email</th>
        <th>Product Id</th>
        <th>Product Name</th>
      </tr>
      <tr
        *ngFor="
          let a of allOrderItems
            | filter: term2
            | paginate: { itemsPerPage: 10, currentPage: p_no };
          let i = index
        "
      >
        <td>{{a.orderItemId }} </td>
        <td>{{a.currentOrder.orderId }} </td>
        <td>{{a.currentOrder.currentCustomer.customerId }} </td>
        <td>{{a.currentOrder.currentCustomer.customerEmail }} </td>
        <td>{{a.currentProduct.productId }} </td>
        <td>{{a.currentProduct.productName }} </td>
        <td><button class="btn btn-primary" (click)="deleteOrderItems(a.orderItemId)">Delete</button></td>
      </tr>
   <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
  </table>

  <br>
  <h4>Manage Products</h4>
  <br>
  <!-- <button (click)="toggleProducts()" id="bt">
      {{ buttonName4 }}
    </button>
  <ng-container *ngIf="showProducts"> -->
  <table class="table">
          <input class="form-control" type="text" [(ngModel)]="term4" placeholder="Search Products" />
        <tr>
          <th>Product Id</th>
          <th>Farmer Id</th>
          <th>Farmer Name</th>
          <th>Product Description</th>
          <th>Product Name</th>
          <th>Product Type</th>
          <th>Product Price</th>

        </tr>
        <tr
          *ngFor="
            let a of allProducts
              | filter: term4
              | paginate: { itemsPerPage: 10, currentPage: p_no };
            let i = index
          "
        >

        <td *ngIf="editedId !== a.productId"><p>{{a.productId}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.currentFarmer.farmerId}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.currentFarmer.farmerName}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.description}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.productName}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.productType}}</p></td>
        <td *ngIf="editedId !== a.productId"><p>{{a.unitPrice}}</p></td>

        <td *ngIf="editedId < 0">
            <button class="btn btn-sm btn-primary" (click)="editProducts(a)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteProducts(a.productId)"
            >
            <i class="fa fa-trash"></i>
            </button>
          </td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.productId" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.currentFarmer.farmerId" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.currentFarmer.farmerName" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.description" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.productName" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.productType" /></td>
          <td *ngIf="editedId === a.productId"><input class="form-control" [(ngModel)]="a.unitPrice" /></td>
          <td *ngIf="editedId === a.productId">
            <button class="btn btn-sm btn-primary" (click)="saveProducts(a)">
                <i class="fa fa fa-save"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="cancelProductsEdit(a)">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
          </td>
      </tr>
      <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
    </table>



