<p>Register users!</p>

<button class="btn btn-lrg primary nav-item nav-link-edit" [routerLink]="['/registerCustomer']">Register Customer</button>
<button class="btn btn-lrg primary nav-item nav-link-edit" [routerLink]="['/registerFarmer']">Register Farmer</button>
<button class="btn btn-lrg primary nav-item nav-link-edit" [routerLink]="['/registerAdmin']">Register Admin</button>
<button class="btn btn-lrg primary nav-item nav-link-edit" [routerLink]="['/registerProduct']">Register Product</button>

<p>Admin list </p>

<button class="btn btn-lrg primary nav-item nav-link-edit" [routerLink]="['/displayandfindadmins']">Page admins</button>




