<p>products works!</p>

<form
    (submit)="addProduct(productName,description,productType,unitPrice)">
    <ul>
        <li>
            Customehhhr Name: <input type="text" #productName>
        </li>
    </ul>
    <ul>
        <li>
            Custhhhmer Email: <input type="text" #description>
        </li>
    </ul>
    <ul>
        <li>
            Customhher Address <input type="text" class="addresstextbox" #productType>
        </li>
    </ul>
    <ul>
        <li>
            Customhher Address <input type="text" class="addresstextbox" #unitPrice>
        </li>
    </ul>
    <ul>
        <li>
            Regihhster: <input type="submit" placeholder="Add Product" value="Add">
        </li>
      
            <div class="jumbotron text-center">
            
            </div>
            </ul>
            </form>
            