<p>products works!</p>

<!-- added for basket-->
            <table>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Photo</th>
                  <th>Buy</th>
              </tr>
              <tr *ngFor="let product of products">
                  <td>{{product.productId}}</td>
                  <td>{{product.productName}}</td>
                  <td>{{product.unitPrice}}</td>
                  <td>{{product.productType}}</td>
                  <td>{{product.description}}</td>
                  <td>
                  <a [routerLink]="['/basket', { productId:product.productId }]">Buy Now</a>
                  </td>
              </tr>
            </table>


