

<h1>Login to Farm to Home</h1>


<form class="jumbotron text-center">
     <fieldset>

          <legend>
          <div class="radio">
          <p>
                    <input type="radio" name="customer" id="customer" value="customer">
          
                    <label for="customer" class="labell"> Customer </label>
          
          </p>
          <p>
               <input type="radio" name="farmer" id="farmer" value="farmer">
               <label for="farmer" class="labell"> Farmer </label>
          </p>
          </div>

</legend>
</fieldset>



</form>



