<h4>Manage Admins</h4>
<button class="btn btn-primary" (click)="toggleAdmin()" id="bt">
  {{ buttonName1 }}
</button>

<ng-container *ngIf="showAdmin"> -->



<input class="form-control" type="text" [(ngModel)]="term" placeholder="Search Admins" />
  <table class="table">


    <tr>
      <th>Admin Id</th>
      <th>Admin Username</th>
      <th></th>
    </tr>



    <tr
      *ngFor="
        let a of admins
          | filter: term
          | paginate: { itemsPerPage: 10, currentPage: p_no };
        let i = index
      "
    >
        <td *ngIf="editedId !== a.adminId"><p>{{ a.adminId }}</p></td>
        <td *ngIf="editedId !== a.adminId"><p>{{ a.adminUsername }}</p></td>
        <td *ngIf="editedId < 0">
          <button class="btn btn-sm btn-primary" (click)="editAdmin(a)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="deleteAdmin(a.adminId)"
          >
          <i class="fa fa-trash"></i>
          </button>
        </td>
        <td *ngIf="editedId === a.adminId"><input class="form-control" [(ngModel)]="a.adminId" /></td>
        <td *ngIf="editedId === a.adminId"><input class="form-control" [(ngModel)]="a.adminUsername" /></td>
        <td *ngIf="editedId === a.adminId">
          <button class="btn btn-sm btn-primary" (click)="saveAdmin(a)">
              <i class="fa fa fa-save"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="cancelAdminEdit(a)">
              <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
        </td>
    </tr>
    <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
  </table>
<!-- </ng-container> -->


<h4>Registered Farmers</h4>
<button class="btn btn-primary" (click)="toggleFarmer()" id="bt">
    {{ buttonName2 }}
  </button>
<ng-container *ngIf="showFarmer"> -->
<table class="table">
  <input class="form-control" type="text" [(ngModel)]="term2" placeholder="Search Farmer" />
  <tr>
    <th>Farmer Id</th>
    <th>Farmer Email</th>
    <th>Farmer Location</th>
    <th>Farmer Name</th>
  </tr>
  <tr
    *ngFor="
      let a of farmers
        | filter: term2
        | paginate: { itemsPerPage: 10, currentPage: p_no };
      let i = index
    "
  >

<td *ngIf="editedId !== a.farmerId"><p>{{ a.farmerId }}</p></td>
        <td *ngIf="editedId !== a.farmerId"><p>{{ a.farmerEmail }}</p></td>
        <td *ngIf="editedId !== a.farmerId"><p>{{ a.farmerLocation }}</p></td>
        <td *ngIf="editedId !== a.farmerId"><p>{{ a.farmerName }}</p></td>
        <td *ngIf="editedId < 0">
          <button class="btn btn-sm btn-primary" (click)="editFarmer(a)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="deleteFarmer(a.farmerId)"
          >
          <i class="fa fa-trash"></i>
          </button>
        </td>
        <td *ngIf="editedId === a.farmerId"><input class="form-control" [(ngModel)]="a.farmerId" /></td>
        <td *ngIf="editedId === a.farmerId"><input class="form-control" [(ngModel)]="a.farmerEmail" /></td>
        <td *ngIf="editedId === a.farmerId"><input class="form-control" [(ngModel)]="a.farmerLocation" /></td>
        <td *ngIf="editedId === a.farmerId"><input class="form-control" [(ngModel)]="a.farmerName" /></td>
        <td *ngIf="editedId === a.farmerId">
          <button class="btn btn-sm btn-primary" (click)="saveFarmer(a)">
              <i class="fa fa fa-save"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="cancelFarmerEdit(a)">
              <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
        </td>
    </tr>
    <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
  </table>
<!-- </ng-container> -->




<h4>Registered Customers</h4>
<button class="btn btn-primary" (click)="toggleCustomer()" id="bt">
    {{ buttonName3 }}
  </button>
<ng-container *ngIf="showCustomer"> -->


    <table class="table">
    <input class="form-control" type="text" [(ngModel)]="term3" placeholder="Search Customers" />

        <tr>
          <th>Customer Id</th>
          <th>Customer Name</th>
          <th>Customer Email</th>
          <th>Customer Address</th>
          <th>Customer Password</th>
        </tr>

        <tr
          *ngFor="
            let a of customer
              | filter: term3
              | paginate: { itemsPerPage: 10, currentPage: p_no };
            let i = index
          "
        >
            <td *ngIf="editedId !== a.customerId"><p>{{ a.customerId }}</p></td>
            <td *ngIf="editedId !== a.customerId"><p>{{ a.customerName }}</p></td>
            <td *ngIf="editedId !== a.customerId"><p>{{ a.customerEmail }}</p></td>
            <td *ngIf="editedId !== a.customerId"><p>{{ a.customerAddress }}</p></td>
            <td *ngIf="editedId !== a.customerId"><p>{{ a.customerPassword }}</p></td>
            <td *ngIf="editedId < 0">
              <button class="btn btn-sm btn-primary" (click)="editCustomer(a)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteCustomer(a.customerId)"
              >
              <i class="fa fa-trash"></i>
              </button>
            </td>
            <td *ngIf="editedId === a.customerId"><input class="form-control" [(ngModel)]="a.customerId" /></td>
            <td *ngIf="editedId === a.customerId"><input class="form-control" [(ngModel)]="a.customerName" /></td>
            <td *ngIf="editedId === a.customerId"><input class="form-control" [(ngModel)]="a.customerEmail" /></td>
            <td *ngIf="editedId === a.customerId"><input class="form-control" [(ngModel)]="a.customerAddress" /></td>
            <td *ngIf="editedId === a.customerId"><input class="form-control" [(ngModel)]="a.customerPassword" /></td>
            <td *ngIf="editedId === a.customerId">
              <button class="btn btn-sm btn-primary" (click)="saveCustomer(a)">
                  <i class="fa fa fa-save"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="cancelCustomerEdit(a)">
                  <i class="fa fa-undo" aria-hidden="true"></i>
              </button>
            </td>
        </tr>
        <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
      </table>
    <!-- </ng-container> -->

