<h3>Basket </h3>
<!--//added for basket-->
<table class="table">

  <thead>
    <tr>
        <th></th>
        <th>Product Name</th>
        <th>Price/kg</th>
        <th>description</th>
        <th>Product Type</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
       
        <td >
                <button class="btn btn-sm btn-danger" (click)="removeItemFromBasket(item.product.productId)">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                        </button>

            
        </td>

        

        <td>{{item.product.productName}}</td>
        <td>{{item.product.unitPrice}}</td>
        <th>{{item.product.description}}</th>
        <th>{{item.product.productType}}</th>
        <td><input type="number" [(ngModel)]="item.quantity" (change)="updateBasket(item)"></td>
        <td>{{item.product.unitPrice * item.quantity}}</td>
    </tr>
    <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
    </tr>
    <tr>
      <button
      class="btn btn-primary"
      name="Checkout"
      id="Checkout"
      (click)="submitOrder()"
    >Checkout</button>
    </tr>
    </tbody>
</table>
