<div class="jumbotron text-center">
        <h2>Farmer Homepage</h2>
    </div>


    <table>
        <tr>
            <td>farmer Id: </td>
            <td></td>
            <td>{{farmer.farmerId}}</td>
         </tr>
         <tr>
                <td>Name: </td>
                <td>{{farmer.farmerName}}</td>
        </tr>

    </table>
    <table>
      <tr>
        <th>Product ID</th>
        <th>Product name</th>
                <!-- <th>Customer Name</th> -->
                <!-- <th><button (click)="showProjectForm()">+</button></th> -->
          </tr>
          <tr *ngFor ="let p of assignments; let i = index">
                    <td>{{p.productId}}</td>
                    <td>{{p.productName}}</td>
                    <td><button (click)="deleteProduct(i, p.productId)">X</button></td>
                    <!-- <td>{{a.proName}}</td> -->
                    <!-- <td><button (click)="deleteProject(i)">x</button></td> -->
          </tr>
    </table>
<br><br><br>




  <button class="nav-link" routerLink="/registerProduct">Register Product</button>



