<div class="jumbotron text-center">
<h2>Customer Page Logged In</h2>
</div>


<ul class="navbar-nav">
    <li class="nav-item">
        <a href="">Logged In</a>
    </li>

</ul>
<ul>
    <li class="navbar-nav">
        <a href="">Customer Details</a>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item">
        <a href="">Customer Basket</a>
    </li>
</ul>
<app-customer-details-customernavbar></app-customer-details-customernavbar>
<app-customer-basket-customernavbar></app-customer-basket-customernavbar>
<app-customernavbar-customers></app-customernavbar-customers>

