<table class="table">
  <thead>
    <tr>
      <td>
        <!-- Search box for product name -->
    
       
       <input class="form-control"type="text"  [(ngModel)]="term" placeholder="Search Product" />
     
      </td>
      <td>
        <!-- Search box for product by location -->
        <input class="form-control" type="text" [(ngModel)]="term2" placeholder="Search Location" />
      </td>
    </tr>

    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Location</th>
      <th>Product Type</th>
      <th>Basket</th>
    </tr>
  </thead>

  <tbody>
    <!-- Display 10 prodtcts form product list filted by search terms  -->
    <tr
      *ngFor="
        let item of items
          | filter: term
          | filter: term2
          | paginate: { itemsPerPage: 10, currentPage: p_no };
        let i = index
      "
    >
      <!-- Display item details -->
      <td>{{ item.product.productName }}</td>
      <td>£ {{ item.product.unitPrice }}/kg</td>
      <td>{{ item.product.description }}</td>
      <td>{{ item.product.currentFarmer.farmerLocation }}</td>
      <td>{{ item.product.productType }}</td>
      <!-- set quantity of item to add to basket -->
      <td><input type="number" [(ngModel)]="item.quantity" /></td>
      <!-- Add quantity of items to basket -->
      <td><button  (click)="addProductToBasket(item)" class="btn btn-primary" ><i class="fa fa-shopping-cart" style="color:white" ></i></button></td>
    </tr>
  </tbody>

  <!-- Product page navicgation controls  -->
  <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
</table>
