<table class="table">
  <thead>
      <tr>
          <td>
             <input type="text" [(ngModel)]="term" placeholder="Search Prdocut">
           </td>
      </tr>  
     

    <tr>
      <th>Product Name</th>
      <th>Price(kg)</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>


    <tr *ngFor = "let p of products |filter:term | paginate: { itemsPerPage: 10, currentPage: p_no }; let i = index" >
          <td> {{p.productName}}</td> 
           <td>
              {{p.unitPrice}}
           </td>
          
   
           
<!--  
</tr>
    <tr *ngFor="let p of products">
      <td>{{p.productName}}</td>
      <td>{{p.unitPrice}}</td>
      <td>location Default</td>
    </tr> -->
  </tbody>
  <pagination-controls (pageChange)="p_no = $event"></pagination-controls>
</table>
