<div class="jumbotron text-center">

        <h2>Customer Basket</h2>
        
        </div>
        
        <table>
        
            <tr>
                <td>ProductId: </td>
                <td *ngIf="!isDataPresent">{{productId}}</td>
                <td *ngIf="isDataPresent"><input
                            [(ngModel)]="productId"
                            #inputProductId
                            required=true>
                        <span [hidden]="inputProductId.valid || inputProductId.pristine"> Error</span>

                    
                    
                    
                    
                    
                    </td>
            </div>
            </tr>
            <tr>
                <td>ProductName: </td>
                <td *ngIf="!isDataPresent">{{productName}}</td>
                <td *ngIf="isDataPresent"><input [(ngModel)]="productName"
                    #inputProductId
                    required=true>
                    <span [hidden]="inputProductId.valid || inputProductId.pristine"></span>
                
                </td>
               
                <app-customer-basket-app-customernavbar></app-customer-app-basket-customernavbar>

            </tr>
            <tr>
                    <td>Description: </td>
                    <td *ngIf="!isDataPresent">{{description}}</td>
                    <td *ngIf="isDataPresent"><input [(ngModel)]="description"
                                #inputDescription
                                required=true></td>
                                <span [hidden]="inputDescription.valid || inputDescription.pristine"></span>
                </div>
            </tr>
            <tr>
                    <td>unitPrice:</td>
                    <td>{{unitPrice}}</td>
                    <td *ngIf="isDataPresent"><input [(ngModel)]="unitPrice"
                                                        #inputUnitPrice
                                                        required=true></td>
                                                        <span [hidden]="inputUnitPrice.valid || inputUnitPrice.pristine"></span>
                </div>
            </tr>
            <tr>
                    <td>Product: </td>
                    <td>{{productType}}</td>
                    <td><input [(ngModel)]="productType"
                                            #inputproductType
                                            required=true></td>
                                            <span [hidden]="inputProductType.valid || inputProductType.pristine"></span>
            </tr>
            <tr>
                <td>Checkout<input type="submit" value="Add"></td>
                <td [hidden]="emptyBasket">
                            {{errorMessageEmptyBasket}}
                </td>
            </tr>
        </table>
        <td>{{productId}}</td>
        