<h1>Fresh Farm Produce</h1>
<h2>Search Products</h2>
<table>
        <td>Name: </td>
        <td *ngIf = "!isEditable" >{{name}}</td>
        <td *ngIf="isEditable" >
                <div class="form-group">
                        <input [(ngModel)] = "name"
                        name="name"
                        id="name"
                        #inputEmpno="ngModel"
                        minlength="3"
                        maxlength="25">
    
    
                    <span [hidden]="inputEmpno.valid || inputEmpno.pristine" class="alert alert-danger">Employee should not be less than 3 digits</span>
                </div>
               </td>   
</table>    